@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5rem;
  font-size: 1.15rem;  
  background-color: #3d405b;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
}

.pokemon-header {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 0;
}