@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5rem;
  font-size: 1.15rem;  
  background-color: #3d405b;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #f0bb8f;
}

.pokemon-header {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 0;
}

.btn-load {
  padding: 15px 35px;
  color: #fff;
  font-size: 18px;
  background-color: rgb(99, 0, 124);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.btn-load:hover {
  background-color: rgb(71, 4, 107);
}